.about{
    color: whitesmoke;
   
}
.about12{
    font-size: 50px;
    margin-left: 20px;
    
}
.about13{
    margin-top: -20px;
    margin-left: 20px;
}
.video{
    margin-top: 180px;
    margin-left: -600px;
}
.about3{
    margin-top: 50px;
    margin-left: -300px;
}


